<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
    <title>Orders</title>
    <h1>Current orders</h1>
    {% for order in orders %}
            <p>
                <a id=mainlinks href="/order/{{orders.index(order)}}">({{order.customer_name}} : {{order.order_date}} Quantity ={{order.quantity}} {{order.game_title}} {{order.cost}})</a><hr>
            </p>
            {% endfor %}
            <p></p>


    
</body>
</html>